/* ./src/index.css */

:root {
    @apply light;
}

.dark {
    --color-bg-primary: hsl(209, 23%, 22%);
    --color-bg-secondary: hsl(207, 26%, 17%);
    --color-text-primary: hsl(0, 0%, 100%);
}

.light {
    --color-bg-secondary:hsl(0, 0%, 100%) ;
    --color-bg-primary:  hsl(0, 0%, 98%) ;
    --color-text-primary:  hsl(200, 15%, 8%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;